<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include head__metadata.html %}
  {% include head__favicon.html %}
  <link rel="alternate" type="application/json" href="{{ "/feed.json" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
  <link rel="micropub" href="{{ site.url }}/micropub">
  <link rel="stylesheet" href="https://use.typekit.net/{{ site.typekit }}.css">
  {% asset main.css %}
</head>
