// =============================================================================
// Resets & Base Styles
// =============================================================================

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;
  font-feature-settings: "onum", "pnum";

  @include breakpoint($medium) {
    font-size: $medium-font-size;
  }

  @include breakpoint($large) {
    font-size: $large-font-size;
  }
}

body {
  color: $body-color;
  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  @extend %link;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: $global-margin * 1.5 0;
}
