// ===================================
// Layout
// ===================================

%container {
  display: block;
  max-width: $container-width;
  margin: $global-margin * 1.5 auto;
  padding-left: 5%;
  padding-right: 5%;

  @include breakpoint($medium) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

main,
.header--site,
footer {
  @extend %container;
}

.header--site .inner {
  padding-bottom: $border-padding;
  border-bottom: $border-thickness solid $border-color;
}

footer .inner {
  padding-top: $border-padding * 1.5;
  border-top: $border-thickness solid $border-color;
}

%flex-columns {
  display: flex;
  flex-direction: column;

  @include breakpoint($medium) {
    flex-direction: row;
    align-items: baseline;

    > :first-child {
      flex: 1;
      padding-right: $global-margin * 2;
      text-align: right;
    }

    > :last-child {
      flex: 4;
      min-width: 0; // overrides default value 'auto' that causes content to ignore flex if too wide
    }
  }
}

.post, .project {
  @extend %flex-columns;
}
