// ===================================
// Breakpoints
// ===================================
$medium: 40em;
$large: 70em;

// ===================================
// Colors
// ===================================

$palettes: (
    primary:         #222,
    secondary:       #FFF,
    code-bg:         #ECECEC
);

$site-color-names: map-keys($palettes);

$body-color: palette(primary);
$body-bg: palette(secondary);
$link-color: palette(primary);

// ===================================
// Typography
// ===================================

$root-font-family: "adobe-caslon-pro",serif;
$root-font-size: 17px;
$root-line-height: 1.55;

$mono-font-family: "source-code-pro", monospace;

$medium-font-size: 19px;
$large-font-size: 21px;

%meta {
  margin: 0 0 0 0.25rem;
  font-style: italic;

  @include breakpoint($medium) {
    display: block;
  }
}

// ===================================
// Links
// ===================================
%link {
  @include link-underline($body-bg, $body-color, $link-color);
}

// ===================================
// Layout
// ===================================
$container-width: 38rem;
$global-margin: 1rem;

// ===================================
// Borders/Rules
// ===================================
$border-thickness: 1px;
$border-color: rgba(palette(primary), 0.25);
$border-padding: $global-margin;
