// ===================================
// Colors
// ===================================

$palettes: (
    primary:         #414021,
    secondary:       #D6D6D1,
    highlight:       #FFFFFF
);

$site-color-names: map-keys($palettes);

$body-color: palette(primary);
$body-bg: palette(secondary);
$link-color: palette(highlight);

// ===================================
// Typography
// ===================================

$root-font-family: "source-sans-pro", Helvetica, sans-serif;
$root-font-size: 15px;
$root-line-height: 1.55;

$header-font-family: "jaf-lapture-display", serif;

$mono-font-family: "source-code-pro", monospace;

$medium-font-size: 17px;
$large-font-size: 19px;

// ===================================
// Links
// ===================================
$link-offset: 4px;
$link-underline-opacity: 0.8;
$link-underline-hover-opacity: 0.8;

%link {
  @include text-link($color: palette(primary), $hover: palette(primary), $offset: $link-offset);
}

%link--highlight {
  @include text-link($color: palette(highlight), $hover: palette(highlight), $offset: $link-offset);
}

// ===================================
// Layout
// ===================================
$container-width: 37.5rem;
$global-margin: 1rem;

// ===================================
// Borders/Rules
// ===================================
$border-thickness: 1px;
$border-color: rgba(palette(primary), 0.25);
$border-padding: $global-margin;

// ===================================
// Breakpoints
// ===================================
$medium: 40em;
$large: 70em;
