// ===================================
// Colors
// ===================================

$palettes: (
    primary:         #414021,
    secondary:       #FFFFFF,
    highlight:       #414021,
    code-bg:         #ECECEC
);

$site-color-names: map-keys($palettes);

$body-color: palette(primary);
$body-bg: palette(secondary);
$link-color: palette(highlight);

// ===================================
// Typography
// ===================================

$root-font-family: "freight-text-pro",serif;
$root-font-size: 16px;
$root-line-height: 1.55;

$header-font-family: "freight-micro-pro", serif;
$header-alt-font-family: "source-sans-pro",sans-serif;
$mono-font-family: "source-code-pro", monospace;

$medium-font-size: 18px;
$large-font-size: 20px;

%meta {
  color: palette(highlight);
  font-weight: 300;
  font-family: $header-alt-font-family;
}

// ===================================
// Links
// ===================================
$link-offset: 4px;
$link-underline-opacity: 0.8;
$link-underline-hover-opacity: 0.8;

%link {
  @include link-underline($body-bg, $body-color, $link-color);
}

// ===================================
// Layout
// ===================================
$container-width: 37.5rem;
$global-margin: 1rem;

// ===================================
// Borders/Rules
// ===================================
$border-thickness: 1px;
$border-color: rgba(palette(primary), 0.25);
$border-padding: $global-margin;

// ===================================
// Breakpoints
// ===================================
$medium: 40em;
$large: 70em;
