// ===================================
// Blog/Collection Index Styles
// ===================================

.index {

  a:not(.index__link) {
    @include reset-link;
  }

  .post {
    margin-bottom: $global-margin;
  }

  .project:not(:last-of-type) {
    padding-bottom: $global-margin;
    border-bottom: 1px solid rgba(palette(primary), 0.25);
  }

  &__title {
    margin-bottom: $global-margin;
    font-size: 1.563rem;
  }
}
