// ===================================
// Blog/Collection Index Styles
// ===================================

.index {

  a:not(.index__link) {

    &:not(:hover) { // only use @mixin text-link on hover
      background-image: none;

      .no-cssgradients & {
        text-decoration: none;
      }
    }
  }

  .post {
    margin-bottom: $global-margin;
  }

  .project:not(:last-of-type) {
    padding-bottom: $border-padding;
    border-bottom: $border-thickness solid $border-color;
  }

  &__title {
    margin-bottom: $global-margin;
  }
}
