// ===================================
// Blog/Collection Index Styles
// ===================================

.index {

  a:not(.index__link) {

    &:not(:hover):not(:focus) { // only use @mixin text-link on hover
      background-image: none;

      .no-cssgradients & {
        text-decoration: none;
      }
    }
  }

  &__header {
    display: inline-block;
    margin-top: 0;
  }
}
