// ===================================
// Styles for Micro.blog post feed
// ===================================

.microblog {

  &_timeline {

  }

  &_post {
    display: flex;
    flex-direction: column;
  }

  &_text {
    // longer notes don’t use <p>, so we move margins to parent element
    margin-top: 0.65rem;
    margin-bottom: 1.3rem;

    p {
      margin: 0;
    }
  }

  &_time {
    order: -1;
    color: palette(highlight);
    font-weight: 700;
  }
}
