nav, .nav {
  font-weight: 700;

  a:not(:hover):not(:focus) { // only use @mixin text-link on hover
    background-image: none;

    .no-cssgradients & {
      text-decoration: none;
    }
  }

  ul {
    margin-bottom: $global-margin / 2;
    padding-left: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $global-margin;
    }
  }
}

.nav {
  &--site {

    footer & {

      @include breakpoint($medium) {
        float: left;
        margin-right: $global-margin;
      }
    }
  }

  &--social {

    a {
      color: palette(highlight);

      &:hover {
        @extend %link--highlight;
      }
    }
  }
}
