nav, .nav {
  font-weight: 700;
  // font-family: $header-alt-font-family;

  a:not(:hover):not(:focus):not(.active) { // only use @mixin text-link on hover
    background-image: none;

    .no-cssgradients & {
      text-decoration: none;
    }
  }

  ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $global-margin;
    }
  }
}

.nav {
  &--site {

    @include breakpoint($medium) {
      float: left;
      margin-right: $global-margin;
    }
  }

  &--social {

    a {
      font-weight: 300;

      &:hover {
        @extend %link;
      }
    }
  }
}
