nav, .nav {
  font-weight: 700;

  a {
    @include reset-link;

    &:hover {
      @extend %link;
    }
  }

  ul {
    margin-bottom: $global-margin / 2;
    padding-left: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $global-margin;
    }
  }
}

.nav {
  &--site {

    footer & {
      margin-right: $global-margin;
      float: left;
    }
  }

  &--social {

    a {
      color: palette(highlight);

      &:hover {
        @extend %link--highlight;
      }
    }
  }
}
