// ===================================
// Index Pagination Styles
// ===================================

.pagination {
  text-align: center;
  font-weight: 700;

  a, span {
    margin-right: $global-margin / 2;
  }
}
