// ===================================
// Post and Project Styles
// ===================================

// Shared styles
.post, .project {
  margin-bottom: $global-margin * 2;

  &__header {
  }

  &__title {
    display: inline-block;
    margin: 0 $global-margin / 4 0 0;
    font-size: 1rem;
    font-style: normal;
    font-family: $header-alt-font-family;
    margin-bottom: 0.65rem;
  }

  &__meta {
    @extend %meta;
  }

  &__summary {
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding-top: $border-padding;
    color: palette(highlight);
    border-top: $border-thickness solid $border-color;
    font-weight: 300;

    > * {
      flex: 1;
    }

    a {
      font-weight: 700;
    }
    
    .next {
      text-align: right;
    }
  }
}

// Project only
.project {

  &__body {
    border-top: $border-thickness solid $border-color;
  }
}
