// ===================================
// Post and Project Styles
// ===================================

// Shared styles
.post, .project {
  margin-bottom: $global-margin * 2;

  &__title {
    display: inline;
    font-size: 1rem;
    font-style: normal;
  }

  &__meta {
    @extend %meta;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding-top: $border-padding;
    font-weight: normal;
    font-style: italic;
    border-top: $border-thickness solid $border-color;

    > * {
      flex: 1;
    }

    a {
      font-style: normal;
      font-weight: 700;
    }

    .next {
      text-align: right;
    }
  }
}
