// ===================================
// Layout
// ===================================

%container {
  display: block;
  max-width: $container-width;
  margin: $global-margin * 3 auto;
  padding-left: $global-margin / 2;
  padding-right: $global-margin / 2;
}

main,
.header--site,
footer {
  @extend %container;
}
