// ===================================
// Layout
// ===================================

%container {
  display: block;
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $global-margin / 2;
  padding-right: $global-margin / 2;
}

main,
header {
  @extend %container;
}
