// ===================================
// Colors
// ===================================

$palettes: (
    primary:         #414021,
    secondary:       #D6D6D1,
    highlight:       #FFFFFF
);

$site-color-names: map-keys($palettes);

$body-color: palette(primary);
$body-bg: palette(secondary);
$link-color: palette(highlight);

// ===================================
// Typography
// ===================================

$root-font-family: "source-sans-pro", Georgia, Helvetica, sans-serif;
$root-font-size: 14px;
$root-line-height: 1.45;

$mono-font-family: "source-code-pro", monospace;

$medium-font-size: 16px;
$x-large-font-size: 18px;

// ===================================
// Links
// ===================================
$link-offset: 2px;
$link-underline-opacity: 0.6;
$link-underline-hover-opacity: 0.8;

// ===================================
// Layout
// ===================================
$container-width: 37.5rem;
$global-margin: 1rem;

// ===================================
// Breakpoints
// ===================================
$medium: 44em;
$medium-large: 55em;
$large: 70em;
$x-large: 80em;
$small-only: 0 $medium;
