---
layout: default
---

<article class="post" itemscope itemtype="https://schema.org/BlogPosting">
  <header class="post__header">
    <h2 class="post__title" itemprop="headline">{{ page.title }}</h2>
    <meta itemprop="author" content="{{ site.author.name }}">
    <span class="post__meta post__date" itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}</span>
  </header>
  <div class="post__body" itemprop="articleBody">
    {{ content }}
  </div>
</article>

{% include blog__postnav.html %}
