---
layout: default
---

<article class="project" role="article">
  <header class="project__header">
    <h2 class="project__title">{{ page.title }}</h2>
    {% if page.year %}<span class="project__meta">{{ page.year }}</span>{% endif %}
    {% if page.external_link.url %}<a href="{{ page.external_link.url }}" class="project__link" target="_blank">{{ page.external_link.title }}</a>{% endif %}
  </header>
  <section class="project__body">
    {{ content }}
  </section>
</article>

{% include project__nav.html %}

{% include project__structured-data.html.liquid headline=page.title description=page.summary image=page.image content=page.content link=page.url date=page.date %}
